body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 75px auto;
    box-sizing: border-box;
    max-width: 960px;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}  

.navigation-food,
.netbook,
.main {
    margin-bottom: 40px;
}

.top-bar {
    background-color: #2a3644;
}

.top-bar,
.top-bar > ul.menu >li,
.top-bar > ul.menu >li:hover {
    border-radius: 3px;
    border-collapse: collapse;
}

.menu a,
.menu-bottom > a {
    display: block;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.menu li:hover {
    background-color: #3f4852;
}

.menu li:hover > a {
    color: #fd8612;
}

.tasty > li {
    border-left: 1px solid #3f4852;
    border-right: 1px solid #3f4852;
}

.navigation-food li,
.market li {
    position: relative;
}

.tasty li:hover .sub-menu,
.sprite-menu li:hover .sub-menu,
.market li:hover .sub-first,
.sub-first li:hover .sub-second,
.sub-second li:hover .sub-last  {
    max-width: 1000px;
    transition: all 1s ease;
    visibility: visible;
}

.hidden-menu ul > li + li,
.hidden-menu-second ul > li + li,
.sub-big-menu ul > li + li {
    border-top: 1px solid #b9bdc1;
}

.hidden-menu ul>li:first-child,
.hidden-menu-second ul>li:first-child,
.sub-big-menu ul > li:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.hidden-menu ul>li:last-child,
.hidden-menu-second ul>li:last-child,
.sub-big-menu ul > li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sub-menu {
    width: 210px;
    height: 0;
    padding-top: 5px;
    position: absolute;
    left: -1px;
    z-index: 2;
    visibility: hidden;
}

.milk {
    left: -68%; 
}

.sub-menu li {
    background-color: #d2d4d5;
}

.sub-menu li:hover {
    background-color: #2a3644;
}

.sub-menu a {
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 1em;
    font-weight: bold;
    color: #2a3644;
}

.sub-second {
    left: 100%;
    top: -5px;
    z-index: 2;
}

.sub-last {
    left: -100%;
    top: -5px;
}

.hidden-menu-second .duble-sub-menu {
    width: 252%;
    background-color: #d2d4d5;
}

.sub-menu-second-one {
    border-right: #b9bdc1;
}

.sub-menu-second-two {
    width: 210px;
    height: 0;
    padding-top: 16px;
    position: absolute;
    top: 35px;
    left: 124%;
    border-radius: 3px;
    z-index: 1;
    visibility: hidden;
}

.netbook {
    display: table;
}

.market > li {
    border-left: 1px solid #3f4852;
}

.market > li > a {
    display: block;
    padding: 14px 43.2px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.top-menu {
    display: flex;
}

.top-menu > li:first-child {
    padding-left: 20px;
}

.top-menu > li {
    border-right: 1px solid #3f4852;
}

.top-menu > li {
    position: relative;
}

.sprite-menu > li > a {
    display: block;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.top-menu a.home-page::before {
    content: "";
    position: absolute;
    left: 22px;
    background: url(../img/sprite.png) no-repeat;
    width: 16px;
    height: 13px;
    background-position: 0 0;
}

.social {
    padding: 14px 30px 14px;
    display: flex;
    align-items: flex-end;
    column-gap: 25px;
}

.social li {
    padding: 0;
}

.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
}

a.fb {
    height: 19px;
    width: 10px;
    background-position: -18px 0px;
}

.social li:hover>.fb {
    height: 19px;
    width: 10px;
    background-position: -18px -18px;
}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -31px 0;
}

.social li:hover>.tw {
    width: 18px;
    height: 15px;
    background-position: -31px -18px;
}

a.inst {
    width: 19px;
    height: 19px;
    background-position: -49px 2px; 
}

.social li:hover>.inst {
    width: 19px;
    height: 19px;
    background-position: -49px -16px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}

thead {
    background-color: #2a3644;
    text-align: justify;
}

thead tr > th {
    border-right: 1px solid #3f4852;
    border-bottom: 1px solid #3f4852;
}

.span th:first-child {
    width: 38px;
    padding: 0;
    padding-left: 22px;
}

.span th:nth-child(2) {
    width: 52.5%;
    padding-left: 17px;
}

thead .span > th + th:nth-child(3),
thead .years > th {
    text-align: center;
}

thead tr > th {
    font-size: 16px;
    line-height: 2.4em;
    color: #fff;
    font-weight: bold;
}

tbody {
    background-color: #f2f2f2;
}

tbody tr > td {
    padding-left: 17px;
    font-size: 16px;
    line-height: 2.8em;
    color: #2a3644;
}

tbody tr > td:first-child {
    padding: 0;
    text-align: center;
}

tbody tr > td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    padding: 0;
    padding-right: 17px;
    text-align: end;
}

tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}

tbody tr > td + td{
    border-left: 1px solid #cdcddd;
}

tbody tr > td {
    border-top: 1px solid #cdcddd;
}

tbody > tr:hover > td {
    background-color: #c0c1c2;
    border-top-color: #c0c1c2;
    border-left-color: #c0c1c2;
}

.content-table {
    width: 100%;
    display: table;
    border-radius: 3px;
    overflow: hidden;
}

.table-css,
.head-table {
    display: table-row;
}

.head-table .head:first-child,
.table-css .cell:first-child {
    padding-left: 22px;
    width: 38px;
}

.head-table .head:nth-child(2) {
    width: 52.5%;
}
.head-table .head:nth-child(3), .head:nth-child(4), .head:nth-child(5),
.table-css .cell:nth-child(3), .cell:nth-child(4), .cell:nth-child(5) {
    padding: 0;
    padding-right: 17px;
    text-align: end;
}

.head {
    padding-left: 17px;
    display: table-cell;
    background-color: #2a3644;
    font-size: 16px;
    line-height: 2.9em;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #3f4852;
}

.cell {
    padding-left: 17px;
    display: table-cell;
    color: #2a3644;
    font-size: 16px;
    line-height: 2.83em;
    list-style: none;
    background-color: #f2f2f2;
}

.table-css div {
    border-top: 1px solid #cdcddd;
}

.table-css div:not(:last-child) {
    border-right: 1px solid #c0c1c2;
}

.bgc {
    background-color: #e8e8e8;
}

.table-css:hover > div {
    background-color: #c0c1c2;
    border-top-color: #c0c1c2;
    border-left-color: #c0c1c2;
}
